
Debug/Blocks.obj
Debug/matrix_manipulation.obj
Debug/TetrisConsole.log
Debug/TetrisConsole.obj
Debug/tetrisconsole.obj.enc
Debug/TetrisConsole.tlog/CL.command.1.tlog
Debug/TetrisConsole.tlog/CL.read.1.tlog
Debug/TetrisConsole.tlog/CL.write.1.tlog
Debug/TetrisConsole.tlog/link.command.1.tlog
Debug/TetrisConsole.tlog/link.read.1.tlog
Debug/TetrisConsole.tlog/link.write.1.tlog
Debug/TetrisConsole.tlog/TetrisConsole.lastbuildstate
Debug/TetrisConsole.tlog/TetrisConsole.write.1u.tlog
Debug/TetrisConsole.vcxproj.CopyComplete
Debug/vc142.idb
Debug/vc142.pdb
Debug/vcpkg.applocal.log
TetrisConsole.cpp
TetrisConsole.vcxproj
TetrisConsole.vcxproj.filters
TetrisConsole.vcxproj.user
x64/Debug/matrix_manipulation.obj
x64/Debug/TetrisConsole.log
x64/Debug/TetrisConsole.tlog/CL.command.1.tlog
x64/Debug/TetrisConsole.tlog/CL.read.1.tlog
x64/Debug/TetrisConsole.tlog/CL.write.1.tlog
x64/Debug/TetrisConsole.tlog/TetrisConsole.lastbuildstate
x64/Debug/TetrisConsole.tlog/unsuccessfulbuild
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
*.obj
*.log
*.tlog
main.cpp
Tetris.vcxproj
Tetris.vcxproj.filters
Tetris.vcxproj.user
